<div>

    <a href="https://learn.microsoft.com/en-us/aspnet/core/test/hot-reload?view=aspnetcore-10.0" target="_blank">
        <h2>HotReload</h2>
    </a>

    <p>
        پس از ذخیره‌سازی برای اجرای live پروژه، فقط قسمت تغییر یافته مجدد ایجاد می‌شود و صفحه refresh نمی‌شود. بنابراین
        اگر در یک فرم اطلاعاتی وارد شده باشد، از دست نخواهند رفت
    </p>

    <span>
        ng serve
        <span style="padding-left: 0px; cursor: pointer;" title="Hot Module Reloading">--hmr</span>
        دستور
    </span>

</div>