/* ============================================ */
/* تعریف فونت‌های YekanBakh از طریق jsDelivr    */
/* ============================================ */

@font-face {
  font-family: 'YekanBakh';
  src: url('https://cdn.jsdelivr.net/gh/BAdeliyan/test@main/YekanBakh-Hairline.woff2')
    format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'YekanBakh';
  src: url('https://cdn.jsdelivr.net/gh/BAdeliyan/test@main/YekanBakh-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'YekanBakh';
  src: url('https://cdn.jsdelivr.net/gh/BAdeliyan/test@main/YekanBakh-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'YekanBakh';
  src: url('https://cdn.jsdelivr.net/gh/BAdeliyan/test@main/YekanBakh-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'YekanBakh';
  src: url('https://cdn.jsdelivr.net/gh/BAdeliyan/test@main/YekanBakh-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'YekanBakh';
  src: url('https://cdn.jsdelivr.net/gh/BAdeliyan/test@main/YekanBakh-Heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'YekanBakh';
  src: url('https://cdn.jsdelivr.net/gh/BAdeliyan/test@main/YekanBakh-Fat.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

/* ============================================ */
/* اعمال اجباری فونت روی کل پروژه با !important  */
/* ============================================ */

* {
  font-family: 'YekanBakh', sans-serif !important;
}
